
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljs-dom {:git/url "https://github.com/bithandshake/cljs-dom"
                                :sha     "354bc20a5636c504199605c9d5f1374efa8304a7"}}}
