
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljs-dom       {:git/url "https://github.com/bithandshake/cljs-dom"
                                      :sha     "d4bd6c15a1890cb3e027f53460cd78e4f5cb39d0"}
         mt-app-kit/react-references {:git/url "https://github.com/mt-app-kit/cljs-react-references"
                                      :sha     "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}
         org.clojure/clojurescript   {:mvn/version "1.10.891"}
         reagent/reagent             {:mvn/version "1.2.0"}}}
